<!DOCTYPE html>
<html>
<head>
	<title>EJS compile example</title>
	<link rel="stylesheet" type="text/css" href="vendor-styles.css">
	<link rel="stylesheet" type="text/css" href="my-library-styles.css">
	<link rel="stylesheet" type="text/css" href="my-styles.css">
</head>
<body>
	<div class="page">
		<div class="page__intro">
			<h1 class="page__title">EJS compile example</h1>
			<p style="margin-bottom: 3rem;">This is <em>my page</em> Yay!!!.</p>
		</div>

		<p>I am the HTML content.</p>
	</div>

	<script type="text/javascript" src="vendor-scripts.js"></script>
	<script type="text/javascript" src="my-library-scripts.js"></script>
	<script type="text/javascript" src="my-view-scripts.js"></script>
</body>
</html>
